@charset "UTF-8";
  
/* ---------------------------------메인메뉴--------------- */

/* ----------------------------------메인화면--------------- */
.body > .MV {
    height: 90vh;
} 
header{
    height: 5vh;
    padding: 0 10px;
}
header a {
    background-image: url(/pp/이미지/YG_symbol_W.png);
    background-size: 73px 47px;
    width: 73px;
    height: 5vh;
    left: 1.5rem;
    /* left: 10%; */
    /* top: -14%; */
}
header .button{
    flex-direction: column;
}
header .button span{
    font-size: 12px;
    padding: 0 2px;
    border: none;
}
header .button > span {
    padding: 0px 8px;
}
header .head_menu{
    font-size: 30px;
}
header .button .language {
    right: 4%;
    top: 105%;
}
header .button .language span{
    font-size: 12px;
}
header .menu{
    width: 100%;
}
header .menu ul {
    font-size: 27px;
}
header .menu span {
    font-size: 30px;
    padding: 20px 0 20px 76%;
}
header .gnb{
    width: 50%;
}
header .snb ul{
    font-size: 18px;
    margin: 50px 0 0 15px;
    gap: 8px;
}
header .snb_m{
    width: 50%;
}
.top{
    height: 5vh;
}
.top h1{
    font-size: 24px;
    height: 5vh;
    line-height: 5vh;
}
.sec1_2 .proflie{
    height: 90vh;
}
.sec1_2 .proflie .back {
    height: 90vh;
}


.swiper-button-next:after{
    font-size: 30px;
}
.swiper-button-prev:after {
    font-size: 30px;
}
.b .swiper-button-prev:after {
    font-size: 30px;
}
.b .swiper-button-next:after {
    font-size: 30px;
}
/* ------------------로그인 창------------ */
header .login_page > div {
    width: 250px;
}
/* ----------------------------------아티스트 페이지2--------------- */
.homepage{
    height: 100%;
}

.sec1_2 .proflie .photo{
    width: 100%;
    height: 50%;
    background-size: cover;
}
.artist .sec1_2 .text_box1{
    gap: 5px;
    padding: 10px 10px;
    width: 50%;
    height: 200px;
}
.artist .sec1_2 .text_box1 h5{
    font-size: 20px;
}
/* .artist .sec1_2 .text_box1 p{
    overflow-x: auto;
} */
.sec1_2 .proflie .photo .text_box3{
    width: 35%;
    height: 45%;
    /* right: 5%; */
    bottom: 3%;
    gap: 10px;
    padding: 8px 0 0 0;
}
.sec1_2 .proflie .photo .text_box3 .swiper-wrapper{
    gap: 0px;
}
.artist .sec1_2 .proflie .photo .text_box3 > p:nth-child(2) {
    width: 70%;
}
.sec1_2 .proflie .photo .text_box3 .album_list{
    width: 90%;
    height: 65%;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide img{
    width: 70%;
    /* height: 100%; */
    margin: 0 auto;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div {
    flex-direction: column;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div > section > div:last-child{
    overflow: auto;
    height: 57%;
    width: 50px;
    display: flex;
    /* flex-direction: row; */
    width: 100%;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div::after{
    display: none;
}
/* .sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide:nth-child(3) > div::after{
    bottom: 0%;
} */
.sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section{
    width: 80%;
    height: 50%;
    padding: 5px;
    margin: 0 auto;
}
.sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section > div p{
    text-align: left;
}
.sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section .list_silde p{
    height: 100%;
}
.sec1_2 .proflie .box2{
    font-size: 10px;
}
.sec1_2 .text_box2 .name .info{
    font-size: 8px;
}
.sec1_2 .proflie .box2 .name .in_sns > a {
    font-size: 13px;
}
.text_box3 .album_list .swiper-button-next:after {
    font-size: 22px;
}
.text_box3 .album_list .swiper-button-next{
    bottom: -10%;
    /* bottom: -34px; */
}
/* ---------------------------------프로필 속 막대기 가상요소--------------------------- */
/* .sec1_2 .proflie .box2 .name::before {
    height: 30px;
}
.sec1_2 .proflie .box2:nth-child(1) .name::before{
    top: 52%;
    left: 33%;
    transform: rotate(22deg);
}
.sec1_2 .proflie .box2:nth-child(2) .name::before{
    top: 52%;
}
.sec1_2 .proflie .box2:nth-child(3) .name::before{
    top: 49.5%;
    left: 33%;
}
.sec1_2 .proflie .box2:nth-child(4) .name::before{
    top: 53%;
    left: 17%;
    transform: rotate(-4deg);
}
.sec1_2 .proflie .box2 .name .info .line::before{
    height: 9px;
}
.sec1_2 .proflie .box2:nth-child(1) .line::before {
    top: 88.8%;
    left: 62%;
}
.sec1_2 .proflie .box2:nth-child(2) .line::before {
    top: 89%;
    left: 55%;
}
.sec1_2 .proflie .box2:nth-child(3) .line::before {
    top: 89.5%;
    left: 64.5%;
}
.sec1_2 .proflie .box2:nth-child(4) .line::before {
    top: 89%;
    left: 57%;
}
/* ----------------------------------프로필 위치--------------------------------- */

/* .sec1_2 .proflie .f_LISA .name{
    padding: 150% 0 0 11%;
}
.sec1_2 .proflie .f_JISOO .name {
    padding: 170% 0 0 5%;
}
.sec1_2 .proflie .f_JENNIE .name {
    padding: 180% 0 0 12%;
}
.sec1_2 .proflie .f_ROSE .name{
    padding: 150% 0 0 6%;
} */ 
/* --------------------------------프로필 동그라미 아이콘------------------- */
.sec1_2 .proflie .box2 .name::after{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

.sec1_2 .proflie .f_LISA .name::after {
    top: 19%;
    left: 32%;
}
.sec1_2 .proflie .f_JISOO .name::after {
    top: 36%;
    left: 24%;
}
.sec1_2 .proflie .f_JENNIE .name::after {
    top: 30.5%;
    left: 22%;
}
.sec1_2 .proflie .f_ROSE .name::after {
    top: 14%;
    left: 3%;
}
/* --------------------------------프로필 막대기------------------- */
.sec1_2 .proflie .box2 .name::before{
    height: 20px;
}
.sec1_2 .proflie .box2:nth-child(3) .name::before {
    top: 38.5%;
}
.sec1_2 .proflie .box2:nth-child(4) .name::before {
    top: 24%;
}


