@charset "UTF-8";
     
/* ---------------------------------메인메뉴--------------- */
/* ---------------------------------로그인창--------------- */
header .login_page{
    background-image: url(/pp/이미지/YG_로그인배경패턴6.png);
    background-size: contain;
}
header .login_page > div > span{
    padding-left: 190px;
}
/* ----------------------------------메인화면--------------- */
.body > .MV {
    height: 90vh;
}  
.body .MV video {
    top: 30%;
}
header{
    height: 5vh;
    padding: 0 10px;
}
header a {
    background-image: url(/pp/이미지/YG_symbol_W.png);
    background-size: 73px 47px;
    background-position: center center;
    width: 73px;
    height: 5vh;
    left: 2.5rem;
    /* left: 10%; */
    /* top: -14%; */
}
header .button{
    flex-direction: column;
    /* top: 19%; */
}
header .button span{
    font-size: 12px;
    padding: 0;
    border: none;
    border: 2px solid black;
}
header .button > span {
    padding: 0px 11px;
}
header .button > div:first-child{
    height: 5vh;
    line-height: 5vh;
}
header .button > div:first-child > span {
    padding: 0;
    height: 2.5vh;
    line-height: 2.5vh;
}
header .button > div:first-child > span:first-child {
    padding: 4px 0;
}
header .button > div:first-child > span:last-child {
    padding: 0px 5px;
}
header .head_menu{
    font-size: 30px;
}
header .button .language {
    right: 0%;
    top: 83%;
}
header .button .language span{
    font-size: 12px;
    padding: 0px 8px;
}

header .menu{
    width: 100%;
}
header .menu ul {
    font-size: 27px;
}
header .menu span {
    font-size: 30px;
    padding: 20px 0 20px 76%;
}
header .gnb{
    width: 50%;
}
header .snb ul{
    font-size: 18px;
    margin: 50px 0 0 15px;
    gap: 8px;
}
header .snb_m{
    width: 50%;
}
.top{
    height: 5vh;
}
.top h1{
    font-size: 24px;
    height: 5vh;
    line-height: 5vh;
}
.sec1_2 .proflie{
    height: 90vh;
}
.sec1_2 .proflie .back {
    height: 90vh;
}


.swiper-button-next:after{
    font-size: 1.5rem;
}
.swiper-button-prev:after {
    font-size: 1.5rem;
}
.b .swiper-button-prev:after {
    font-size: 1.5rem;
}
.b .swiper-button-next:after {
    /* font-size: 30px; */
    font-size: 1.5rem;
}
/* ------------------로그인 창------------ */
header .login_page > div {
    width: 250px;
}
/* ----------------------------------아티스트 페이지2--------------- */
.homepage{
    height: 100%;
}

.sec1_2 .proflie .photo{
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.artist .sec1_2 .text_box1{
    gap: 5px;
    padding: 10px 10px;
    width: 50%;
    height: 200px;
}
.artist .sec1_2 .text_box1 h5{
    font-size: 20px;
}
/* .artist .sec1_2 .text_box1 p{
    overflow-x: auto;
} */
.sec1_2 .proflie .photo .text_box3{
    width: 35%;
    height: 45%;
    /* right: 5%; */
    bottom: 3%;
    gap: 10px;
    padding: 8px 0 0 0;
}
.sec1_2 .proflie .photo .text_box3 .swiper-wrapper{
    gap: 0px;
}
.artist .sec1_2 .proflie .photo .text_box3 > p:nth-child(2) {
    width: 70%;
}
.sec1_2 .proflie .photo .text_box3 .album_list{
    width: 90%;
    height: 65%;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper{
    text-align: center;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-wrapper{
    display: flex;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide img{
    width: 70%;
    height: 30%;
    margin: 0 auto;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div {
    flex-direction: column;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div > section > div:last-child{
    /* overflow: auto; */
    height: 57%;
    width: 50px;
    display: flex;
    /* flex-direction: row; */
    width: 100%;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div::after{
    display: none;
}
/* .sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide:nth-child(3) > div::after{
    bottom: 0%;
} */
.sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section{
    width: 80%;
    height: 70%;
    padding: 5px;
    margin: 0 auto;
}
/* .sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section > div p{
    text-align: left;
} */
.sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section .list_silde p{
    height: 100%;
}
/* .sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section .list_silde .swiper-slide{
    height: 10px;
} */
.sec1_2 .proflie .box2{
    font-size: 10px;
}
.sec1_2 .text_box2 .name .info{
    font-size: 8px;
}
.sec1_2 .proflie .box2 .name .in_sns > a {
    font-size: 13px;
}
.text_box3 .album_list .swiper-button-next:after {
    font-size: 22px;
}
.text_box3 .album_list .swiper-button-next{
    bottom: -5%;
    /* bottom: -34px; */
}
/* ---------------------------------프로필 속 막대기 가상요소--------------------------- */
/* .sec1_2 .proflie .box2 .name::before {
    height: 30px;
}
.sec1_2 .proflie .box2:nth-child(1) .name::before{
    top: 52%;
    left: 33%;
    transform: rotate(22deg);
}
.sec1_2 .proflie .box2:nth-child(2) .name::before{
    top: 52%;
}
.sec1_2 .proflie .box2:nth-child(3) .name::before{
    top: 49.5%;
    left: 33%;
}
.sec1_2 .proflie .box2:nth-child(4) .name::before{
    top: 53%;
    left: 17%;
    transform: rotate(-4deg);
}
.sec1_2 .proflie .box2 .name .info .line::before{
    height: 9px;
}
.sec1_2 .proflie .box2:nth-child(1) .line::before {
    top: 88.8%;
    left: 62%;
}
.sec1_2 .proflie .box2:nth-child(2) .line::before {
    top: 89%;
    left: 55%;
}
.sec1_2 .proflie .box2:nth-child(3) .line::before {
    top: 89.5%;
    left: 64.5%;
}
.sec1_2 .proflie .box2:nth-child(4) .line::before {
    top: 89%;
    left: 57%;
}
/* ----------------------------------프로필 위치--------------------------------- */

/* .sec1_2 .proflie .f_LISA .name{
    padding: 150% 0 0 11%;
}
.sec1_2 .proflie .f_JISOO .name {
    padding: 170% 0 0 5%;
}
.sec1_2 .proflie .f_JENNIE .name {
    padding: 180% 0 0 12%;
}
.sec1_2 .proflie .f_ROSE .name{
    padding: 150% 0 0 6%;
} */ 
/* --------------------------------프로필 동그라미 아이콘------------------- */
.sec1_2 .proflie .box2 .name::after{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

.sec1_2 .proflie .f_LISA .name::after {
    top: 19%;
    left: 32%;
}
.sec1_2 .proflie .f_JISOO .name::after {
    top: 36%;
    left: 24%;
}
.sec1_2 .proflie .f_JENNIE .name::after {
    top: 30.5%;
    left: 22%;
}
.sec1_2 .proflie .f_ROSE .name::after {
    top: 14%;
    left: 3%;
}
/* --------------------------------프로필 막대기------------------- */
.sec1_2 .proflie .box2 .name::before{
    height: 20px;
}
.sec1_2 .proflie .box2:nth-child(3) .name::before {
    top: 38.5%;
}
.sec1_2 .proflie .box2:nth-child(4) .name::before {
    top: 24%;
}


/* ------------------------------------------굿즈----------------------------- */
/* .select .inner_2 .sel_menu{
    font-size: 0.2rem;
} */
.select .inner_2 .sel_menu{
    top: 14%;
    height: 83vh;
}
.select .inner_2 .sel_menu > .b{
    height: 83vh;
}
.select .inner_2 > div:nth-child(3){
    height: 5vh;
    width: 100%;
    align-items:flex-start;
}
.select .inner_2 > div:nth-child(3) ul {
    width: 100%;
    height: 5vh;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
}
.select .inner_2 > div:nth-child(3) ul li {
    font-size: 0.5rem;
    padding: 5px;
}
.select .inner_2 > div:nth-child(3) input{
    height: 3vh;
}
.select .inner_2 > div:nth-child(3) span {
    font-size: 20px;
}
.select .inner_2 > div:nth-child(3) p:last-child{
    width: 100px;
    height: 3vh;
    line-height: 3vh;
    font-size: 15px;
}
.select .inner_2 > div:nth-child(1){
    height: 4vh;
    line-height: 4vh;
}
.select .inner_2 > div:nth-child(1) p{
    font-size: 1.5rem;
    /* margin: 0 0 10px 5px; */
}
.select .inner_2 > div:nth-child(2){
    height: 4vh;
}
.select .inner_2 > div:nth-child(2) span{
    /* font-size: 20px; */
    font-size: 95%;
}
.select .inner_2 .sel_menu .b .shopping > p{
    width: 82px;
    height: 32px;
    font-size: 15px;
}
.select .inner_2 .sel_menu .b .shopping > span{
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.select .inner_2 .sel_menu .goodsgrid{
    height: 50vh;
    margin: 5% 0 5% 0;
} 
.select .sel_menu > div:nth-child(1) .yg_goods > div > p:first-child {
    font-size: 0.5rem;
}
.select .sel_menu > div:nth-child(1) .yg_goods > div > p:last-child {
    font-size: 0.7rem;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .s_one .gleft > p:nth-child(1){
    /* height: 130px;
    width: 100%;
    background-size: cover; */
    height: 20vh;
    width: 100%;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .s_two .gleft > p:nth-child(1){
    height: 20vh;
    width: 100%;
    background-size: contain;
    background-position: center;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .s_thr .gleft > p:nth-child(1){
    height: 20vh;
    width: 100%;
    background-size: contain;
    background-position: center;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .s_one .gright > p:nth-child(1){
    height: 20vh;
    width: 100%;
    background-size: contain;
    background-position: center;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .s_two .gright > p:nth-child(1){
    height: 20vh;
    width: 100%;
    background-size: contain;
    background-position: center;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .s_thr .gright > p:nth-child(1){
    height: 20vh;
    width: 100%;
    background-size: contain;
    background-position: center;
}
.select .sel_menu > div:nth-child(1) .slide > div:nth-child(2){
    font-size: 3em;
    width: 100%;
    height: 10vh;
    /* height: 30%; */
}
.select .sel_menu > div:nth-child(1) .newf{
    flex-direction: column;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .gleft{
    width: 100%;
    height: 35%;
}
.select .sel_menu > div:nth-child(1) .swiper-slide .gright{
    width: 100%;
    height: 35%;
}
.select .inner_2 > div:nth-child(2) ul {
    flex-wrap: wrap;
}
/* ------------------------오디션 페이지------------------------ */
.audition > div:first-child{
    height: 4vh;
    line-height: 4vh;
    font-size: 1.5rem;
}
.audition .inner_3 .ap_left1 {
    width: 80%;
    margin: 0;
}
.audition .inner_3 .no_left1 {
    width: 80%;
    margin: 0;
}
.audition .inner_3 .no_left1::after{
    display: none;
}
.audition .inner_3 .no_left1 .no_sns a {
    font-size: 20px;
}
.audition .inner_3 .no_left1 label{
    margin: 15% 0 0;
    font-size: 20px;
}
.audition .inner_3 .ap_left1::after{
    display: none;
}
.audition .inner_3 .no_left1 .au_notice > div:first-child span {
    font-size: 20px;
}
.audition .inner_3 .no_left1 .au_notice > div:first-child i{
    font-size: 20px;
}
.audition .inner_3 .ap_left1 div {
    height: 50%;
}
.audition .inner_3 .ap_left1 div > p:first-child{
    height: 166%;
}
.audition .inner_3 .ap_left1 div > p:nth-child(2){
    font-size: 20px;
}
.audition .inner_3 .ap_left1 p:nth-child(2){
    /* margin: 150px 10% 0 10%; */
    font-size: 20px;
}
.audition .inner_3 .ap_left1 > a:nth-child(3){
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    background-color: #fff;
    /* border: 1px solid #fff; */
    border-radius: 15px;
    cursor: pointer;
}
.audition .inner_3 .ap_left1 > a:nth-child(3):hover{
    background-color: black;
    color: #fff;
}
.audition .inner_3 .ap_left1 > a:nth-child(3) p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.audition .inner_3 .ap_right1{
    display: none;
}
.audition .inner_3 .no_right1{
    display: none;
}
/* ------------------------------------어바웃 와이지----------------------------- */
.aboutyg{
    height: 95vh;
}
.aboutyg .yg_slide {
    height: 84vh;
}
.aboutyg > div:nth-child(1){
    height: 4vh;
    line-height: 4vh;
    font-size: 1.5rem;
}
.aboutyg .ab_box{
    flex-direction: column;
    overflow: auto;
}
.aboutyg .ab_box > .yg_sym{
    width: 100%;
    height: 30%;
    /* display: flex; */
}
.aboutyg .ab_box > .yg_sym > p:first-child{
    /* width: 175px; */
    width: 50%;
    height: 70%;
    margin: 10px 11px;
}
.aboutyg .ab_box > .yg_sym > p:last-child{
    /* width: 50%;
    height: 20%; */
    margin: 5px 0 0 15px;
    width: 100%;
}
.aboutyg .ab_box .introduction {
    width: 100%;
    height: 70%;
}
.aboutyg .ab_box .introduction .shapes > div > div{
    display: flex;
    flex-direction: column;
}
.aboutyg .ab_box .introduction .shapes > div:nth-child(1){
    /* flex-direction: row; */
    width: 100%;
}
.aboutyg .ab_box .introduction .shapes div:nth-child(1) img{
    width: 40%;
    height: 100%;
}
.aboutyg .ab_box .introduction .shapes > div:nth-child(3){
    /* flex-direction: row; */
    width: 100%;
}
.aboutyg .ab_box .introduction .shapes div:nth-child(3) img{
    width: 40%;
    height: 100%;
}
.aboutyg .ab_box .introduction .shapes > div:nth-child(5){
    /* flex-direction: row; */
    width: 100%;
}
.aboutyg .ab_box .introduction .shapes div:nth-child(5) img{
    width: 40%;
    height: 100%;
}
.aboutyg .ab_box .introduction .shapes .arrow_size{
    /* color:black; */
}
.aboutyg .ab_box .introduction .shapes .arrow_size i{
    transform: rotate(90deg);
    -webkit-text-stroke: 1px #fff;
    color: black;
}
.aboutyg .ab_box .introduction .text_3{
    display: none;
}
.aboutyg .ab_box .introduction > div:last-child{
    flex-direction: column;
    overflow: auto;
}
.aboutyg .ab_box .page2{
    width: 100%;
    height: 20%;
    padding: 20px 0 0 20px;
}
.aboutyg .ab_box .page2 > p:first-child {
    font-size: 2.5rem;
    height: 70%;
}
.aboutyg .ab_box .page2 > p:last-child{
    font-size: 1.3rem;
    height: 30%;
}
.aboutyg .ab_box .history {
    width: 100%;
    height: 80%;
}
.aboutyg .ab_box .history .sentence .text_small{
    margin: 0;
}
.aboutyg .ab_box .j_left{
    width: 100%;
    /* height: 50%; */
}
.aboutyg .ab_box .j_left .table_menu:hover{
   text-decoration: underline;
}
.aboutyg .ab_box .j_left > div > .table_menu > span {
    display: inline;
    font-size: 15px;
}
.aboutyg .ab_box .j_right{
    width: 100%;
    height: 50%;
}
.aboutyg .ab_box .j_right .graph{
    margin-top: 10px;
}
.aboutyg .ab_box .j_right .graph > img{
    display: none
}
.aboutyg .ab_box .j_right .graph > div{
    gap: 0;
    padding: 0;
}
.aboutyg .ab_box .j_right .graph > div img{
    display: none;
}
.aboutyg .ab_box .news {
    width: 100%;
    height: 50%;
}
.aboutyg .ab_box .news > p {
    font-size: 20px;
    margin: 0
}
.aboutyg .ab_box .news > div {
    gap: 5px;
}
.aboutyg .ab_box .news .news_box{
    width: 100%;
}
.aboutyg .ab_box .news .news_box > a{
    width: 10%;
    /* width: 45px; */
    
}
.aboutyg .ab_box .news .news_box > div{
    font-size: 0.7rem;
    flex-direction: row;
    /* padding: 0 10px; */
    width: 90%;
    justify-content: space-between;
}
.aboutyg .ab_box .news .news_box > div > a{
    height:0;
    margin: 7px 0;
    width: 80%;
}
.aboutyg .ab_box .news .news_box > div > a > p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.aboutyg .ab_box .news .news_box > div > div{
    flex-direction: column;
    width: 20%;
}
.aboutyg .ab_box .news .news_box > div > div > p{
    font-size: 0.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.aboutyg .ab_box .yg_notice{
    width: 100%;
    height: 50%;
}
.aboutyg .ab_box .yg_notice > p{
    font-size: 20px;
    margin: 0
}
.aboutyg .ab_box .yg_notice > div > .notice_but{
    height: 15%;
    font-size: 0.7rem;
}
/* ---------------------------풋터----------------------------- */
footer{
    padding: 0 20px;
    height: 7vh;
    line-height: 7vh;
}
footer div:first-child {
    font-size: 8px;
    display: flex;
    flex-direction: column;
}
footer > p {
    font-size: 8px;
    line-height: 7vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
footer div:last-child {
    font-size: 16px;
    gap: 5px;
}
footer span:nth-child(2){
    padding: 0;
}
footer span:nth-child(3){
    padding: 0;
}