@charset "UTF-8";


/* ----------------------------------로그인창--------------- */
header .login_page > div {
    width: 300px;
    height: 194px;
    font-size: 16px;
}
header .login_page > div > span {
    padding-left: 230px;
}
header .login_page > div > div:last-child {
    font-size: 13px;
}
/* -----------------홈페이지-------------- */
/* .homepage{
    height: 100%;
    margin: 10vh 0 0 0;
} */
/* ----------------------------------아티스트 페이지2--------------- */

.sec1_2 .proflie .photo {
    width: 100%;
}
.winner .sec1_2 .proflie .photo {
    background-size: cover;
}
.TREASURE .sec1_2 .proflie .photo {
    background-size: cover;
}
.artist .sec1_2 .text_box1 {
    gap: 8px;
    padding: 15px 15px;
}
.artist .sec1_2 .text_box1 h5 {
    font-size: 24px;
}
.artist .sec1_2 .proflie .photo > div:last-child {
    left: 44%;
}
.artist .sec1_2 .proflie .photo > div:last-child a {
    font-size: 22px;
}
.sec1_2 .proflie .photo .text_box3 .swiper-wrapper {
    gap: 0;
}
.sec1_2 .proflie .photo .text_box3 {
    font-size: 0.7rem;
    right: 3%;
}
.winner .sec1_2 .proflie .photo .text_box3 {
    right: 3%;
}
.artist .sec1_2 .proflie .photo .text_box3 > p:first-child {
    background-size: 100% 145%;
    width: 90%;
    height: 61px;
}
.winner .sec1_2 .proflie .photo .text_box3 > p:first-child {
    background-size: contain;
}
.TREASURE .sec1_2 .proflie .photo .text_box3 > p:first-child {
    background-size: contain;
}
.artist .sec1_2 .proflie .photo .text_box3 > p:nth-child(2) {
    font-size: 0.7rem;
}
.sec1_2 .proflie .photo .text_box3 .album_list {
    width: 80%;
    height: 80%;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div {
    /* flex-direction: column; */
    /* align-items: center; */
    border: none
}
.actors .proflie .photo .text_box3 .album_list .album > .swiper-wrapper > .swiper-slide {
    border-bottom: 0
}
.sec1_2 .proflie .photo .text_box3 .album_list .album > .swiper-wrapper > .swiper-slide
/* .sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div::after{
    content: "";
    width: 400px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -10%;
} */
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide:nth-child(3) > div::after {
    bottom: -25%;
}
.sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide img {
    border: none;
    width: 40%;
    /* height: 50%; */
    background-color: transparent;
}
.sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section {
    width: 60%;
    padding: 0 10px;
}
.sec1_2 .proflie .photo .text_box3 .album_list .album .swiper-slide > div > section .list_silde p {
    text-align: center;
}
.sec1_2 .proflie .box2 {
    font-size: 13px;
}
.sec1_2 .text_box2 .name .info {
    font-size: 11px;
}
.sec1_2 .text_box2 .f_ROSE .name .info {
    font-size: 11px;
    width: 60%;
}

/* ---------------------------------프로필의 막대기 가상요소--------------------------- */
.winner .sec1_2 .proflie .box2:nth-child(1) {
    /* background-position: 41% 41.2%; */
    width: 20%;
    margin: 0 0 0 8%;
}
.winner .sec1_2 .proflie .box2:nth-child(2) {
    /* background-position: 28% 41%; */
    width: 14%;
}
.winner .sec1_2 .proflie .box2:nth-child(3) {
    /* background-position: 28% 43.5%; */
    width: 18%;
}
.winner .sec1_2 .proflie .box2:nth-child(4) {
    /* background-position: 7% 40.7%; */
    width: 19%;
}
/* ----------------------------------프로필 위치--------------------------------- */

/* .sec1_2 .proflie .f_LISA .name{
    padding: 159% 0 0 8%;
}
.sec1_2 .proflie .f_JISOO .name{
    padding: 185% 0 0 5%;
}
.sec1_2 .proflie .f_JENNIE .name{
    padding: 210% 0 0 12%;
} */
.sec1_2 .proflie .f_ROSE .name {
    padding: 60% 0 0 0;
}


/* ----------------------------------굿즈 페이지--------------- */
.select .inner_2 .sel_menu {
    font-size: 0.6rem;
}
.select .inner_2 > div:nth-child(3) p:first-child {
    /* font-size: 37px; */
    font-size: 2.25rem;
}

.select .inner_2 > div:nth-child(3) p:last-child {
    width: 109px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 18px;
    right: -1%;
    bottom: 0%;
}
.select .inner_2 > div:nth-child(3) ul {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
}
.select .inner_2 .sel_menu .goodsgrid {
    /* height: 500px; */
    height: 100%;
    padding: 5% 0;
}
/* .select .inner_2 .sel_menu .goodsgrid .swiper-slide {
    height: calc((100% - 30px) / 2);
} */
.select .inner_2 .sel_menu > .b {
    height: 66vh;
}

.select .inner_2 .sel_menu .b .shopping {
    bottom: -2%;
}
.select .inner_2 .sel_menu .b .shopping > span {
    font-size: 22px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.select .inner_2 .sel_menu .b .shopping > p {
    font-size: 15px;
}
.select .sel_menu > div:nth-child(1) .yg_goods > div > p:last-child {
    font-size: 0.8rem;
}
.select .sel_menu > div:nth-child(1) .yg_goods > div p:first-child {
    font-size: 0.9rem;
}
.select .sel_menu > div:nth-child(1) .yg_goods > div p:last-child {
    font-size: 0.7rem;
}
.select .inner_2 .sel_menu .g_pic > p:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-align: center;
}
/* ------------------------------배우 페이지---------------------------- */
.actors .sec1_2 .text_box1 h5 {
    font-size: 25px;
}
.actors .actors_left .proflie .photo {
    background-size: contain;
    background-position: center;
}
.actors .actors_right .proflie .photo {
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}
.actors .sec1_2 .proflie .hee_box_one:nth-child(1) {
    margin: -18% 0px 0 21%;
}
.actors .sec1_2 .proflie .hee_box_two:nth-child(1) {
    margin: 21% 0 0 16%;
}
.actors .sec1_2 .proflie .photo .text_box3 > div:nth-child(1) {
    gap: 10px;
}
.actors .sec1_2 .proflie .photo .text_box3 > div:nth-child(1) span:first-child {
    font-size: 1rem;
}
.actors .sec1_2 .proflie .photo .text_box3 > div:nth-child(1) span:last-child {
    font-size: 0.8rem;
    width: 100%;
}
.actors .sec1_2 .proflie .photo .text_box3 > div:nth-child(2) .swiper-slide > div > p {
    font-size: 1rem;
    width: 15%;
}
.actors .sec1_2 .proflie .photo .text_box3 > div:nth-child(2) .swiper-slide > div > div {
    font-size: 0.8rem;
    width: 100%;
}
.actors .sec1_2 .proflie .photo .text_box3 .album_list .swiper-slide > div {
    gap: 10px;
}
/* ------------------------------오디션 페이지---------------------------- */
.audition .inner_3 .apply {
    height: 82vh;
}
.audition .inner_3 .ap_left1 {
    width: 40%;
}
.audition .inner_3 .ap_left1 div > p:nth-child(2) {
    font-size: 26px;
}
.audition .inner_3 .ap_right1 {
    font-size: 12px;
    padding: 20px;
    width: 40%;
}
.audition .inner_3 .no_left1 {
    width: 40%;
}
.audition .inner_3 .no_left1 .au_notice {
    font-size: 12px;
}
.audition .inner_3 .no_left1 textarea {
    font-size: 12px;
}
.audition .inner_3 .no_right1 {
    width: 40%;
}
.audition .inner_3 .no_right1 > div p:nth-child(1) {
    font-size: 2rem;
}
.audition .inner_3 .no_right1 > div p:nth-child(2) {
    font-size: 2rem;
}
.audition .inner_3 .no_right1 > div > div {
    word-break: keep-all;
    /* padding: 0 5%; */
}
.audition .inner_3 .ap_right1 .ap_head > p:nth-child(1) {
    background-size: 100px 14px;
    background-position: 3px 3px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.audition .inner_3 .ap_right1 .ap_head > p:nth-child(3) {
    width: 20px;
    height: 20px;
}
.audition .inner_3 .ap_right1 .ins_page > p {
    height: 65%;
}
.audition .inner_3 .ap_left1 a:nth-child(4) {
    display: none;
}

/* --------------------------어바웃 와이지----------------------- */
.aboutyg .yg_slide {
    height: 80%;
}
.aboutyg .ab_box > .yg_sym > p:first-child {
    background-size: contain;
    width: 90%;
    margin: 20% 5%;
}
.aboutyg .ab_box > .yg_sym > p:last-child {
    width: 90%;
    font-size: 20px;
    margin: -40px 0 0 0;
    text-align: center;
}
.boutyg .ab_box .introduction .shapes div:nth-child(1) img {
    width: 100%;
    height: 100%;
}
.aboutyg .ab_box .introduction .shapes .arrow_size p {
    font-size: 14px;
}
.aboutyg .ab_box .introduction .shapes .arrow_size i {
    font-size: 35px;
}
.aboutyg .ab_box .introduction .shapes > div div:nth-child(1) span:first-child {
    font-size: 22px;
}
.aboutyg .ab_box .introduction .shapes > div div:nth-child(1) span:last-child {
    font-size: 14px;
}
.aboutyg .ab_box .introduction .text_3 {
    width: 100%;
    overflow-y: auto;
    font-size: 14px;
}
.aboutyg .ab_box .page2 {
    padding: 20px;
}
.aboutyg .ab_box .page2 > p:first-child {
    font-size: 2.8rem;
    word-break: break-all;
}
.aboutyg .ab_box .page2 > p:last-child {
    font-size: 1.8rem;
}
.aboutyg .ab_box .history {
    font-size: 1rem;
}
.aboutyg .ab_box .history .sentence .text_small {
    margin: 0;
}
.aboutyg .ab_box .news {
    width: 50%;
}
.aboutyg .ab_box .news > p {
    font-size: 40px;
    margin: 0 0 10px 0;
}
.aboutyg .ab_box .yg_notice > div {
    height: 80%;
}
.aboutyg .ab_box .yg_notice > div > .notice_but {
    height: 10%;
}
.notice_list {
    height: 90%;
}
.notice_YG {
    overflow-y: auto;
    height: 100%;
}
#up {
    font-size: 35px;
    bottom: 12%;
}
/* #up.on2{
    opacity: 1;
    visibility: visible;
    bottom: 11%;
} */
/* --------------------풋터------------------------ */
footer {
    height: 10vh;
    padding: 0 30px;
    align-items: center;
}
footer div:nth-child(2) {
    width: 18%;
    height: 10vh;
    line-height: 10vh;
}
footer div:nth-child(2) p {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}
footer div:first-child {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    justify-content: center;
    font-size: 12px;
    gap: 0
}
footer div:first-child span {
    line-height: 20px;
    word-break: break-all;
}
footer div:last-child {
    width: 19%;
}
footer span:nth-child(2) {
    padding: 0;
}
footer span:nth-child(3) {
    padding: 0;
}
/* ------------------------스와이퍼 수정하기--------------------- */
.swiper-button-next:after {
    color: #fff;
    font-size: 25px;
}
.swiper-button-prev:after {
    color: #fff;
    font-size: 25px;
}
.b .swiper-button-prev:after {
    color: black;
}
.b .swiper-button-next:after {
    color: black;
}
.text_box3 .album_list .swiper-button-next {
    /* bottom: -27px; */
    bottom: -4%;
}
.text_box3 .album_list .swiper-button-next:after {
    font-size: 22px;
}
.actors .text_box3 .album_list .swiper-button-next {
    bottom: -27px;
}